@font-face {
    font-family: "plex bold";
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
}
@font-face {
    font-family: plex;
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}
